.App {
  text-align: center;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;justify-content: center;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message__user {
  font-size: 0.85rem;
  margin-right: 8px;
}

.message__text {
  flex: 1;
  border-radius: 5px;
  background: #eeeeee;
  padding: 8px;
}
